main {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	color: var(--black-color);
	font-family: 'Comfortaa';
}


h1 span {
	color: var(--orange-color);
}

p {
	font-size: 12.5px;
	color: var(--black-color);
	font-family: 'Montserrat';
}


p span {
	color: var(--orange-color);
}

b {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Montserrat';
	color: var(--orange-color);
}


button {
	font-size: 17px;
	color: var(--white-color);
	background: var(--orange-color);
	border: none;
	padding: 0.7em 2.8em;
	border-radius: 100px;
	font-family: 'Comfortaa';
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	transition: 0.15s;
}

button:active {
	scale: 0.9;
	filter: brightness(80%);
}

.desc {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
	padding: 0 20px;
}


.list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px 30px;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.item p {
	font-size: 8px;
	font-family: 'Montserrat';
	text-align: center;
}